attrs
Brotli
certifi
chardet
charset-normalizer
cryptography
datasets
docutils
filelock
h2
idna
ipython
ipywidgets
keyring
ntlm-auth
openai
pandas
pip
pyOpenSSL
PySocks
redis
requests
setuptools
simplejson
Sphinx
typing_extensions
urllib3